/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


/*Font*/
html {
    font-family: serif;
}

h1 {
    color: palevioletred;
    font-family: sans-serif, serif;
    letter-spacing: .031rem;
    font-size: 3.75rem;
    transform: rotate(-5deg);
    margin: 1.125rem;
    text-align: center;
    text-shadow: .05rem;
}

h2 {
    font-family: sans-serif, serif;
    font-size: 1.75rem;
    }

h3 {
    font-family: sans-serif, serif;
    letter-spacing: .031rem;
    }

p {
    font-size: .75rem;
    letter-spacing: .031rem;
    word-spacing: .125rem;
    }
/*Link Styling*/
a {
    outline: none;
    text-decoration: none;
}

a:link,
a:visited {
    color: purple;
}

a:focus,
a:hover {
    text-decoration: none;
}
    
/*Nav Menu*/
nav {
    padding-left: o;
    margin-top: 2rem;
    
}

nav a {
    text-decoration: none;
    display:inline;
    width: 100%;
    line-height: 5;
    text-align: left;
    border: none;
}

nav a:focus,
nav a:hover {
    color: cadetblue;
    background-color: white;
}

nav a:active {
    color: pink;
    background-color: white;
}
    
/*Aside*/
aside {
    text-align: right;
    image-orientation: right;
}

/*This might be a mistake but div container lets go*/
.container {
    column-width: 24rem;
    align-content: right;
}





.wrapper {
    display:flex;
}


.subsection {
    align-content: inline;
}

<style>
.vl {
    border-right: 2px black;
    height: 100%;
}
</style>